body {
    margin: 0px;
}
html {
    
    line-height: 1.5;
}
h1, h2, p {
    margin:0;
}

.flex {

    padding: 32px;
    font-family: none;
    box-sizing:inherit;
    text-align: center;
    
}

.text-h1 {
    text-align: center;
    font-size: 36px;
    margin: 16px 0px 0px;
    color: rgb(53, 53, 53);
    font-family:cursive, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.text-h2 {
    text-align: center;
    font-size: 20px;
    margin: 32px 0px 0px;
    color: rgb(53, 53, 53);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.m-p1 {
    max-width: 100rem;
    text-align: center;
    font-size: 18px;
    margin: 20px 0px 0px;
    color: #4a5568;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    
}
.m-b {
   background-color: #4299e1;
   border-radius: .5rem;
   margin: 20px 0px 0px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: white;
   text-align:center;
   font-size: 20px;
   transform: scale(1.0091) translateZ(0px);
   font-weight: 300;
   border: 0 solid #e2e8f0;
}
[role=button], button {
    cursor: pointer;
}
button {
    background: transparent;
}

.m-b:hover {
    transform:scale(1.025) translateZ(0px);
    background-color:#63b3ed;
}
.px-em {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 18px 0px 0px;
    text-align:center;
}
.join-txt {
    Opacity: 0.6;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.m-1 {
    margin-top: 30px;
}
.txt-m1 {
    background-color: rgb(250, 227, 152);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.txt-m2 {
    background-color: rgb(216, 250, 152);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.txt-m3 {
    
    background-color: rgb(222, 152, 250);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ms-1 {
    margin-top: 8px;
    max-width: 100rem;
    text-align: center;
    font-size: 18px;
    color: #4a5568;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.tip1 {
    background-color: #f7fafc;
    padding: 8px 16px;
    margin: 16px 8px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 5px;
    padding-right:0px;
    border-radius: .2rem;
    font-style: italic;
}
.tip-1 {
    font-style: italic;
    font-weight: 700;
    color: #4a5568;
}
.italic {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color: #4a5568;
}
.tip-1SP {
    font-style: italic;
    font-weight: 700;
    
    color: #9b51a0;
}

.mspan {
    color: #4a5568;
}

.mspan:hover {
    color: rgb(250, 227, 152);
    transform:scale(1.025) translateZ(0px);
}

hr {
    margin-bottom: 20px;
}