body {
    margin: 0px;
}
html {
    
    line-height: 1.5;
}
h1, h2, p {
    margin:0;
}


.flex {

    padding: 32px;
    font-family: none;
    box-sizing:inherit;
    text-align: center;
    
    
}

.sin-h1 {
    text-align: center;
    
    font-size: 36px;
    margin: 16px 0px 0px;
    color: rgb(53, 53, 53);
    font-family:cursive, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.sin-h1::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    background-size: contain;
    
    
}
.sin-h2 {
    text-align: center;
    font-size: 40px;
    margin: 32px 0px 0px;
    font-weight: 500;
    color:  #373c44;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.sin-p1 {
    max-width: 100rem;
    text-align: center;
    font-size: 13px;
    margin: 20px 0px 0px;
    color: #4a5568;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    
}
.sin-p1::before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        background-image: url(user.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 5px;
        background-size: contain;
        
}
.m-b {
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.15));
    background-color: #4299e1;
    border-radius: .5rem;
    margin: 20px 0px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align:center;
    font-size: 20px;
    transform: scale(1.0091) translateZ(0px);
    font-weight: 300;
    border: 0 solid #e2e8f0;
}
[role=button], button {
    cursor: pointer;
}
button {
    background: transparent;
}

.m-b:hover {
    transform:scale(1.025) translateZ(0px);
    background-color: #63b3ed;
}
.space {
    margin-top: 15px;
}
.area {
    color: #5794ff;
    text-decoration: none;
    font-size: 14px;
    Opacity: 1;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.a1:hover {
    Opacity:0.7;
}
.a2:hover {
    Opacity:0.7;
}
.divider {
    border-left: 1 solid grey;
    margin: 0 8px;
    height: 0.9em;
    border-top: 0;
    display: inline-block;
}

.px-em {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 0px 0px;
    text-align:center;
}
.join-txt {
    Opacity: 0.6;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.m-1 {
    margin-top: 30px;
}
.txt-m1 {
    background-color: rgb(250, 227, 152);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ms-1 {
    margin-top: 8px;
    max-width: 100rem;
    text-align: center;
    font-size: 18px;
    color: #4a5568;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.Scc {
    color:rgb(214, 181, 73);
}
.tip1 {
    background-color: #f7fafc;
    padding: 8px 16px;
    margin: 16px 8px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 5px;
    padding-right:0px;
    border-radius: .2rem;
    font-style: italic;
}
.tip-1 {
    font-style: italic;
    font-weight: 700;
    color: #9b51a0;
}

.italic {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color: #4a5568;
}

.mspan {
    color: #4a5568;
}

.mspan:hover {
    color: rgb(250, 227, 152);
    transform:scale(1.025) translateZ(0px);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    color:red;
}
.rights {
    max-width: 100rem;
    text-align: center;
    font-size: 14px;
    margin: 50px 0px 0px;
    color: #4a5568;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    
}
.form {
    
    max-width: 100rem;
    text-align: center;
    font-size: 13px;
    margin: 0px 10px 0px;
    color: #000000;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}
.form-1 {
    background: rgb(250, 227, 152);
    margin: 10px 10px 0px;
}
.form-2 {
    background: rgb(216, 250, 152);
    margin: 10px 10px 0px;
}

input {
    margin: 5px 5px 5px;
}

form {
    max-width: 100rem;
    text-align: center;
    font-size: 13px;
    margin: 20px 0px 0px;
    color: #4a5568;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    max-width: 100rem;
}